{% load filtros %}
<html>
    <head>

    </head>
    <body>
        <h1>Pedido Nº #{{ user.id }}</h1>
        <h2>Tienes un nuevo pedido pendiente en tu panel</h2>
        <p>Para gestionarlo haz clic <a href="https://retromaximo.com.es{{url}}">aquí</a>.</p>
        <div>
            <h3>Datos del pedido</h3>
            {% if user %}
            <p>{{ user.productos|safe }}</p>
            <h4>TOTAL (envío incluido): {{ user.total }} €</h4>
            {% endif %}
        </div>
    </body>
</html>