{% load filtros %}
<html>
    <head>

    </head>
    <body>
        <h1>Hemos registrado tu pedido con código #{{ user.id }}</h1>
        <h2>En breve tendrás noticias sobre el estado de tu pedido</h2>

        <div>
            <h3>Datos del pedido</h3>
            {% if user %}
            <p>{{ user.productos|safe }}</p>
            <h4>TOTAL (envío incluido): {{ user.total }} €</h4>

            <hr>
            <h3>Método de pago: {{ user.metodo_pago.tipo_pago }}</h3>
            <p>Instrucciones: {{ user.metodo_pago.observaciones }}</p>
            {% endif %}
        </div>
    </body>
</html>