{% extends 'core/base.html' %}
{% load filtros %}

{% block cuerpo %}

    <div class="container row">
        <div class="col text-center mt-6">
           <h3>El pedido ha sido registrado</h3>
           <p>Recibirás un email con los detalles del pedido</p>
           <a href="{% url 'index' %}" class="btn btn-primary text-center" >volver</a href="{% url 'index' %}">
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    
{% endblock %}