{% load filtros %}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Resumen del pedido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {% if carrito %}
        <table class="table table-striped">
            <tr>
                <th><p class="d-none d-md-block"></p></th>
                <th scope="col">Artículo</th>
                <th scope="col"><p class="d-none d-md-block">Sistema</p></th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Subtotal</th>
                <th></th>
            </tr>
            {% for c in carrito %}
            <tr>
                <td><img class="d-none d-md-block" src="{{ c.articulo.portada.url }}" style="height:80px" /></td>
                <td>{{ c.articulo.titulo }}</td>
                <td><p class="d-none d-md-block">{{ c.articulo.consola.nombre }}</p></td>
                <td>{{ c.articulo.precio }} €</td>
                <td><input type="number" class="form-control cantidad " name="cantidad" value="{{ c.cantidad }}" data-id="{{ c.id }}" style="width:60px" min=1></td>
                <td>{{ c.articulo.precio|subtotal:c.articulo.id|floatformat:2 }} €</td>
                <td><a href="#" class="basura" data-id="{{ c.id }}" ><i class="far fa-trash-alt"></i></a></td>
            </tr>
            {% endfor %}
            <tr>
                <td><p class="d-none d-md-block"></p></td>
                <td></td>
                <td><p class="d-none d-md-block"></p></td>
                <td colspan=2><strong><h5>Total artículos: </h5></strong></td>
                <td>{{ total|floatformat:2 }} €</td>
                <td></td>
            </tr>
        </table>
        {% else %}
        <div>
            <h3 class="text-center">La cesta está vacía</h3>
        </div>
        {% endif %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
        <a class="btn btn-outline-warning" href="{% url 'resumen' %}">Finalizar compra</a>
    </div>
</div>