{% extends 'core/base.html' %}
{% load filtros %}

{% block cuerpo %}
{% if carrito %}
    <h3>Resumen del pedido</h3>
    <div class="container row">
        <div class="col-md-6">
            <h5>Datos del cliente</h5>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <div class="row">
                    <div class="col-md-6" id="totalResumen">{% include 'carrito/_partials/total.html' %}</div>
                    <div class="col-md-6 text-end"><button type="submit" class="btn btn-success mb-3">Realizar pedido</button></div>
                </div>
            </form>
        </div>
        
        <div class="col-md-6">
            <h5>Datos del pedido</h5>
            {% if carrito %}
            <table class="table table-striped">
                <tr>
                    <th scope="col">Artículo</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cant.</th>
                    <th scope="col">Subtotal</th>
                    <th></th>
                </tr>
                {% for c in carrito %}
                <tr>
                    <td>{{ c.articulo.titulo }}</td>
                    <td>{{ c.articulo.precio }} €</td>
                    <td>{{ c.cantidad }}</td>
                    <td>{{ c.articulo.precio|subtotal:c.articulo.id|floatformat:2 }} €</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <div>
                <h3 class="text-center">La cesta está vacía</h3>
            </div>
            {% endif %}
        </div>
    </div>
{% else %}
<div>
    <h3 class="text-center">No hay elementos en la cesta</h3>
</div>
{% endif %}
{% endblock %}