{% load static %}

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>{{ title.titulo }}</title>
    <meta name="description" content="{{ description.descripcion }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      body{
        background-image: url("{% if background.imagen %}{{ background.imagen.url }}{% endif %}");
        background-repeat: cover;
        background-attachment: fixed;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet"  href="{% static 'core/css/blog.css' %}">
    <!-- Manual CSS -->
    <link rel="stylesheet" href="{% static 'core/css/home.css' %}">
  </head>
  <body>

<div id="agregado" class="alert alert-success alert-dismissible d-flex align-items-center hide fade" role="alert" style="position:fixed; width:100%; z-index:-100;">
  <div>
    <i class="far fa-check-circle"></i> Se ha añadido el artículo al carrito
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="container">
  <header class="py-3">
    <div class="row">
      <div class="col-md-12 text-end">
        {% if request.path != '/resumen/' %}
        <a href="#" id="carrito" data-bs-toggle="modal" data-bs-target="#carritoModal"><i class="fa-solid fa-cart-shopping" style="font-size:24px; padding-right:10px"></i></a>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a class="blog-header-logo text-dark" href="{% url 'index' %}">
          {% if logo.imagen %}
            <img src="{{ logo.imagen.url }}" style="height:160px;" />
          {% endif %}
        </a>
      </div>
    </div>
  </header>

  <div class=" py-1 mb-2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Tenth navbar example">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
          <ul class="navbar-nav">
            <li class="nav-item">
              {% for sistema in sistemas %}
                {% if sistema.imagen %}
                <li class="nav-item"><a class="nav-link menu" id="{{ sistema.nombre }}" href="#"><img src="{{ sistema.imagen.url }}" style="height:30px"></a></li>
                {% else %}
                <a class="nav-link" id="{{ sistema.nombre }}" href="#">{{ sistema.nombre }}</a>
                {% endif %}
              {% endfor %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <nav class="navbar navbar-expand-lg d-flex justify-content-evenly">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon color-primary"></span>
        </button>
  
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample05">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<main class="container">
  {% block cuerpo %}{% endblock %}
</main>

  <footer class="container blog-footer pb-4 justify-content-around">
    <div class="row">
      <div class="col">
        {% if sistemas %}
        <h3>Sistemas</h3>
        {% for sistema in sistemas %}
        <p>
            <a class="menu" id="{{ sistema.nombre }}" href="#"><strong> {{ sistema.nombre }} </strong></a>
        </p>
        {% endfor %}
        {% endif %}
      </div>
      <div class="col">
        {% if metodos_pago %}
        <h3>Métodos de pago</h3>
        {% for metodo in metodos_pago %}
        <p>
          {% if metodo.logo %}
            <img src="{{ metodo.logo.url }}" style="max-height:50px" />
          {% else %}
            <strong>{{ metodo.tipo_pago }}</strong>
          {% endif %}
        </p>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </footer>

    <!-- Modals -->
    <div class="modal fade" id="videojuego" tabindex="-1" aria-labelledby="videojuegoLabel" aria-hidden="true">
      <div id="modalBody" class="modal-dialog modal-xl">
      </div>
    </div>

    <div class="modal fade" id="carritoModal" tabindex="-1" aria-labelledby="videojuegoLabel" aria-hidden="true">
      <div id="modalBodyCarrito" class="modal-dialog modal-xl">
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Manual CSS -->
    <script type="text/javascript" src="{% static 'core/js/home.js' %}"></script>
  </body>
</html>
