{% extends 'core/base.html' %}
{% load filtros %}

{% block cuerpo %}
<div id="main">
    <!-- INICIO carrousel -->
    <div id="Carousel" class="carousel slide mb-4 text-white" data-bs-ride="carousel">
        <div class="carousel-inner" width=100% height=350px >
            {% for c in carousel %}
            <div class="carousel-item {% if c.orden == 1 %}active{% endif %}">
            <img src="{{ c.imagen.url }}" class="d-block w-100 rounded" style="width:100%; max-height:350px">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#Carousel" data-bs-slide="prev" style="text-shadow:3px 3px 8px black">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#Carousel" data-bs-slide="next" style="text-shadow:3px 3px 8px black">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- FIN Carrousel -->

    <!-- INICIO Catálogo -->
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Últimos juegos añadidos
    </h3>
    {% if juegos %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for juego in juegos %}
        <div class="col mt-4">
            <div class="card rounded">
            <img src="{{ juego.portada.url }}" class="card-img-top rounded" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ juego.titulo }}</h5>
                <small><strong>{{ juego.precio }} €</strong></small>
                <p class="card-text">{{ juego.descripcion|lower }} </p>
                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-juego="{{ juego.id }}" data-bs-target="#videojuego">
                    mas info
                </button>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div>
        <h3 class="text-center">No hay artículos disponibles en esta categoría</h3>
    </div>
    {% endif %}
    <!-- FIN Catálogo -->
    <div class="mb-5" id="modal_zone"></div>
</div>
{% endblock %}