{% load filtros %}

<!-- INICIO Catálogo -->
<h3 class="pb-4 mb-4 fst-italic border-bottom">
    {{ consola }}
</h3>
{% if juegos %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for juego in juegos %}
    <div class="col mt-4">
        <div class="card rounded">
        <img src="{{ juego.portada.url }}" class="card-img-top rounded" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ juego.titulo }}</h5>
            <small><strong>{{ juego.precio }} €</strong></small>
            <p class="card-text">{{ juego.descripcion|lower }} </p>
            <button type="button" class="btn btn-outline-dark" data-juego="{{ juego.id }}" data-bs-toggle="modal" data-bs-target="#videojuego">
                mas info
            </button>
            <script src="https://sis-t.redsys.es:25443/sis/NC/sandbox/redsysV2.js"></script>
        </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
    <div>
        <h3 class="text-center">No hay artículos disponibles en esta categoría</h3>
    </div>
{% endif %}
<!-- FIN Catálogo -->
<div class="mb-5"></div>