

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="videojuegoLabel">{{ juego.titulo }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <!-- INICIO carrousel -->
                <div id="CarouselJuego" class="carousel slide mb-4 text-white" data-bs-ride="carousel">
                    <div class="carousel-inner rounded" style="overflow:hidden; max-width:540px; max-height:405px">
                        <div class="carousel-item active">
                            <img src="{{ juego.portada.url }}" class="d-block w-100 rounded" style="width:550px; max-height:550px">
                        </div>
                        {% if juego.imagen_uno %}
                        <div class="carousel-item">
                            <img src="{{ juego.imagen_uno.url }}" class="d-block w-100 rounded" style="width:550px; max-height:550px">
                        </div>
                        {% endif %}
                        {% if juego.imagen_dos %}
                        <div class="carousel-item">
                            <img src="{{ juego.imagen_dos.url }}" class="d-block w-100 rounded" style="width:550px; max-height:550px">
                        </div>
                        {% endif %}
                        {% if juego.imagen_tres %}
                        <div class="carousel-item">
                            <img src="{{ juego.imagen_tres.url }}" class="d-block w-100 rounded" style="width:550px; max-height:550px">
                        </div>
                        {% endif %}
                        {% if juego.imagen_cuatro %}
                        <div class="carousel-item">
                            <img src="{{ juego.imagen_cuatro.url }}" class="d-block w-100 rounded" style="width:550px; max-height:550px">
                        </div>
                        {% endif %}
                        {% if juego.imagen_cinco %}
                        <div class="carousel-item">
                            <img src="{{ juego.imagen_cinco.url }}" class="d-block w-100 rounded" style="width:550px; max-height:550px">
                        </div>
                        {% endif %}
                        {% if juego.imagen_seis %}
                        <div class="carousel-item">
                            <img src="{{ juego.imagen_seis.url }}" class="d-block w-100 rounded" style="width:550px; max-height:550px">
                        </div>
                        {% endif %}
                        {% if juego.imagen_siete %}
                        <div class="carousel-item">
                            <img src="{{ juego.imagen_siete.url }}" class="d-block w-100 rounded" style="width:550px; max-height:550px">
                        </div>
                        {% endif %}
                        {% if juego.imagen_ocho %}
                        <div class="carousel-item">
                            <img src="{{ juego.imagen_ocho.url }}" class="d-block w-100 rounded" style="width:550px; max-height:550px">
                        </div>
                        {% endif %}
                        {% if juego.imagen_nueve %}
                        <div class="carousel-item">
                            <img src="{{ juego.imagen_nueve.url }}" class="d-block w-100 rounded" style="width:550px; max-height:550px">
                        </div>
                        {% endif %}
                        {% if juego.imagen_diez %}
                        <div class="carousel-item">
                            <img src="{{ juego.imagen_diez.url }}" class="d-block w-100 rounded" style="width:550px; max-height:550px">
                        </div>
                        {% endif %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#CarouselJuego" data-bs-slide="prev" style="text-shadow:3px 3px 8px black">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#CarouselJuego" data-bs-slide="next" style="text-shadow:3px 3px 8px black">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- FIN Carrousel -->
            </div>
            <div class="col-md-6">
                <p>Sistema: {{ juego.consola }}</p>
                <p>{{ juego.descripcion|linebreaks }}</p>
                <h5>Precio: {{ juego.precio }} € </h5>
                <small>Stock disponible: {{ juego.stock }} </small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" id="agregarArticulo" data-juego="{{ juego.id }}" class="btn btn-outline-warning" id="{{ juego.id }}" data-bs-dismiss="modal">Añadir al carrito</button>
    </div>
</div>