.container, .navbar, .navbar .container-fluid{
    background-color: #F4F4F9!important;
    margin-bottom: -8px;
    padding-bottom: 8px;
}

a {
    text-decoration: none!important;
    color: #212529!important;
}